#textbox{
	width: 800px;
	height: 750px;
	border: 1px solid black;
	background-color: #f2e771;
	margin: 0 auto;
	margin-top: 80px;
	opacity: 0.3;
}
body{
	background-image: url("minimalist-wallpaper-31.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
